<h1>Movie Game</h1>


<h2> Enter your word: </h2>

<form action="/movie_word" method="POST">

	<input type="text" name="moviesubmit" placeholder="WERD"> ----->

		<button type="submit">Submit</button>

</form>
